$firstColor: #006664;
$secondColor: #00b7b3;
$orange1: #FFBA08;
$orange2: #FAA307;
$orange3: #F48C06;
$orange4: #E85D04;
$orange5: #DC2F02;
$orange6: #D00000;
$orange7: #9D0208;
$orange8: #6A040F;

body{
  background-color: $orange4;
  color: $orange8;
}



